.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }


  .logo {
    width: 15%;
    margin: 20px
  }




.calcboxOne .numberButtons   {
  border-radius: 50%;
  border: none;
  font-size: 20px;
  box-shadow: 1px 1px black;
  color: white;
  background: #1f61af;
  margin: 5px;
  display: flex;
  flex-direction: row-reverse;
  }